{% extends "polls/base.html" %}

{% block title %}Poll {{ question.id }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
            <h2>{{ question.question_text }}</h2>
        <div class="well">
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <form class="form" action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
                <div class="radio">
                    <label>
                        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
                        {{ choice.choice_text }}
                    </label>
                </div>
            {% endfor %}
            <p>&nbsp;</p>
            <button type="submit" class="btn btn-primary" >Submit your vote</button>
        </form>
        </div>
    </div>
</div>
{% endblock %}